body{
    padding: 0;
    margin: 0;
 background:whitesmoke;
 box-sizing: border-box;

}

 nav{
width: 100%;
    display: inline-flex;
    padding: 40px;
    padding:0 auto;
    background-color: rgb(24, 90, 4);
    color: white;
    justify-content: center;
    
    
 }

 nav li{
    padding: 10px;
    display: inline-flex;
    color: white;
    font-size: large;
    text-decoration: none;
 }
 nav a{
    color: #000;
    text-decoration: none;
    color:white
 }
 .contenido{
    width: 70%;
    padding: 10px;

    align-items: center;
background-color: rgb(209, 207, 204);
padding-bottom: 20px;
 }
 p{
   justify-content: center;
   text-align: fixed;
 }

 footer{
    position: relative;
    padding: 14px;
    background: #000;
    color: white;
    font-size: large;
    padding-bottom: 0;
 }